@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}